<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog web app</title>
</head>
<body>
    <h1>Welcome to Charzy’s Blog</h1>
    <form action="/create-post" method="post">
      <label for="post-title">Title:</label>
      <input type="text" id="post-title" name="postTitle" required>
      <br>
      <label for="post-content">Content:</label>
      <textarea name="postContent" id="post-content" required></textarea>
      <br>
      <button type="submit" id="publish-button">Publish</button>
    </form>
</body>
</html>